<h1>Articles</h1>

<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><%= article.content %></p>
  <p>***</p>

<%= link_to "View Articles Details", article_path(article) %>

<% end %>
